.background {
    /* background-color: aqua;
    height: fit-content; */
}

.event-details {
    display: block;
    position: relative;
    background-color: white;
    left: 50%;
    top: 10vh;
    height: 90vh;
    width: 80%;
    transform: translate(-50%);
    border-radius: 5px 5px 0px 0px;

    overflow-y: scroll;
    overflow-x: hidden;

}

.banner {
    display: block;
    margin: 0 auto;
    height: fit-content;
}

.banner-info {
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    height: fit-content;
}

.description {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 32px;
    height: fit-content;
    padding-bottom: 5rem;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.flex-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
  align-items: flex-start;
  margin-bottom: 50px;
}

.place-date {
  margin-left: 5rem;
  flex-grow: 1;
  font-size: 1.5rem;
}

.email-list {
  text-align: right;
  flex-grow: 1;
}

.email-list a {
  display: block;
  padding: 5px;
  color: blue;
  margin-right: 5em;
  font-size: 1.5rem;
}

.back-btn {
  padding: 2rem;
  background-color: #638FFF;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  width: 40%;
}

.register-btn {
  padding: 2rem;
  text-align: end;
  background-color: #638FFF;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  width: 40%;
}








.scrollbar-style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}