.top-bar {
    position: absolute;
    width: 100%;
    /* height: 3.5rem; */
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    align-items: baseline;
}

.option-list {
    display: flex;
    color: white;
    flex-grow: 4;
    justify-content: space-around;
    font-size: 2rem;
    line-height: 0;
}

.account-link {
    color: white;
    flex-grow: 5;
    text-align: right;
    font-size: 2rem;
    line-height: 0;
    margin-right: 3rem;
}

.events-list {
    position: relative;
    background-color: white;
    left: 50%;
    top: 6rem;
    height: calc(100% - 6rem);
    width: 80%;
    transform: translate(-50%);
    border-radius: 5px 5px 0px 0px;
}

.events-list > table {
    width: 95%;
    margin: 0 auto;
}

.column-names {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px #4A4A4A
}

.column-names > th {
    width: 100%;
    line-height: 50px;
    border-right: 1px solid black;
}

.column-names > th:last-child {
    border-right: 0;
}

.event {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #4A4A4A;
}

.event > th {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}

.event > th:last-child:hover {
    color: rgb(100, 222, 100);
}

.event:hover {
    background-color: #638FFF;
    color: white;
    box-shadow: 0px 15px 10px -15px #4A4A4A;
    cursor: pointer;
}